@import "./colors.css";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap");

/* Reset */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	font-family: "Nunito Sans", sans-serif;
}

.App {
	background-color: var(--app-bg);
	height: 100vh;
}

.App .main-title {
	text-align: center;
	color: var(--white);
	text-transform: uppercase;
	padding: 10px 20px;
	background-color: var(--dark-bg);
	font-weight: 800;
}

.App .app-container {
	padding: 40px;
	height: 100vh;
}

.App .app-container .app-layout {
	display: flex;
	gap: 20px;
	height: 100%;
}

.App .app-container .app-layout > div:nth-child(1) {
	display: flex;
	flex-direction: column;
}

.App .app-container .app-layout > div:nth-child(1) .distance-title {
	color: var(--title-color);
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	background-color: var(--dark-bg);
	border: 1px solid var(--border-color);
	padding: 6px 20px;
	border-radius: 10px;
	flex: 1;
}

.App .app-container .app-layout > div:nth-child(2) {
	flex: 1;
	display: flex;
	flex-direction: column;
	background-color: var(--dark-bg);
	border: 1px solid var(--border-color);
	border-radius: 10px;
}
.App .app-container .app-layout div:nth-child(2) h1 {
	color: var(--title-color);
	text-align: center;
	font-weight: 300;
	margin-top: 8px;
	margin-bottom: 8px;
}

/* Radar styles */
.radar-wrapper .color-info-wrapper {
	display: flex;
	align-items: center;
}

.radar-wrapper .radar {
	border: 1px solid var(--border-color);
	background-color: var(--dark-bg);
	border-radius: 10px;
}

.radar-wrapper .radar-info-wrapper {
	position: relative;
}

.radar-wrapper .radar-info-wrapper .radar-info {
	color: var(--title-color);
	font-size: 12px;
	position: absolute;
	top: 10px;
	right: 10px;
}

.radar-wrapper .color-info-wrapper .color-info {
	margin-right: 20px;
	display: flex;
	align-items: center;
	margin-bottom: 6px;
	margin-top: 6px;
}

.radar-wrapper .color-info-wrapper .color-info .color {
	display: block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	margin-right: 5px;
}

.radar-wrapper .color-info-wrapper .color-info .color.red {
	background-color: var(--violating);
}

.radar-wrapper .color-info-wrapper .color-info .color.green {
	background-color: var(--nest);
}

.radar-wrapper .color-info-wrapper .color-info .color.yellow {
	background-color: var(--non-violating);
}

.radar-wrapper .color-info-wrapper .color-info .color.orange {
	background-color: var(--ndz);
}

.radar-wrapper .color-info-wrapper .color-info .info {
	color: var(--white);
	font-size: 14px;
}

@media screen and (max-width: 1400px) {
	.radar-wrapper .color-info-wrapper .color-info .info {
		font-size: 12px;
	}
}

/* Violation List */

.violation-list {
	flex: 1;
	overflow-y: auto;
}

.violation-list .index {
	font-weight: bolder;
	color: var(--list-item-2);
}

/* width */
::-webkit-scrollbar {
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--dark-bg);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #2f3542;
	border-radius: 10px;
	transition: all 0.3s ease;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #3d4555;
}

.violation-table {
	border-collapse: collapse;
	width: 100%;
	color: var(--white);
	position: relative;
	padding-top: 42px;
}

.violation-table th {
	padding: 10px;
	color: var(--title-color);
	background-color: var(--dark-bg);
	text-align: left;
	position: sticky;
	top: 0;
}

.violation-table td {
	padding: 8px;
	font-size: 14px;
}

.violation-table tr {
	background-color: var(--v-item);
	border-bottom: 1px solid var(--border-color);
}

/* .violation-table tr:nth-child(even) {
	background-color: var(--list-item-2);
} */
